* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container-banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container,
.container-sm {
  height: 400px;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto;
  padding
}

.py-20 {
  padding: 20px;
}

.container {
  padding: 20px;
}

header {
  padding: 8px;
}

.flex {
  display: flex;
}

.border-dotted {
  border: 1px dotted black;
}

ul {
  display: flex;
  list-style: none;
}

a {
  padding: 5px;
  text-decoration: none;
}

.space-between {
  justify-content: space-between;
}

/* Colori Sfondo */
.lightblue {
  background-color: #ADD8E7;
}

.yellow {
  background-color: #DAA51E;
}

.pink {
  background-color: #ef82ed;
}

.blue {
  background-color: #00018b;
}

.lightpink {
  background-color: #ffc0ca;
}

.heavenly {
  background-color: #1e90ff;
}

/* Colonne */

.col-35 {
  width: 35%;
}

.col-65 {
  width: 65%;
}